.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link {
    color: white;
    background-color: #4f4f4f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.49);
    transition: all .3s ease;
}

.link:hover {
    color: #000000;
    background-color: #c5c5c5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(86, 86, 86, 0.49);
}

.link:active {
    background-color: #8c8c8c;
    box-shadow: 0 0 5px rgba(86, 86, 86, 0.49);
}